[submodule "regionflow-fe"]
	path = regionflow-fe
	url = https://github.com/regionflow-data/regionflow-fe.git
	branch = develop
[submodule "regionflow-be"]
	path = regionflow-be
	url = https://github.com/regionflow-data/regionflow-be.git
	branch = develop
